# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

proyecto/*~
proyecto/*.sw[mnpcod]
proyecto/*.log
proyecto/*.tmp
proyecto/*.tmp.*
proyecto/log.txt
proyecto/*.sublime-project
proyecto/*.sublime-workspace
proyecto/.vscode/
proyecto/npm-debug.log*

proyecto/.idea/
proyecto/.ionic/
proyecto/.sourcemaps/
proyecto/.sass-cache/
proyecto/.tmp/
proyecto/.versions/
proyecto/coverage/
proyecto/dist/
proyecto/node_modules/
proyecto/tmp/
proyecto/temp/
proyecto/platforms/
proyecto/plugins/
proyecto/plugins/android.json
proyecto/plugins/ios.json
proyecto/www/
proyecto/$RECYCLE.BIN/

proyecto/.DS_Store
proyecto/Thumbs.db
proyecto/UserInterfaceState.xcuserstate
