page-login {

}

body {
    width: 100%;

}

div.vertical-container {
    display: flex;
    align-items: center;
  
    height: 100%;
    justify-content: center;
    background-image: url('../../assets/imgs/background.jpg');
    background-size:  cover;

}

div.horizontal-container {
    width: 100%;
    display: flex;
    justify-content: center;

    flex-direction: column;
}

div.header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

input {
    width: 75%;
    border: none;
    border-bottom: gray solid 2px;
    margin: 10px;
    padding: 5px;
    margin: 7vh auto 7vh auto;
    font-size: 25px;
    transition-duration: .3s;
    transition-property: border-bottom-color font-size;
    background-color: transparent; 
}

input:focus {
    border-bottom-color: orange;
    transform: scale(1.1);
}

button {
    padding: 10px;
    width: 15ch;
    margin-left: auto;
    margin-right: auto;
}

button:active {
    background-color: orange; 
}

img {
    width: 15vh;
    height: auto;
}

h1 {
    display: inline;
    margin-left: 25px;
    font-size: 80px;
    font-weight: 100;
}